#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

// ZMK用のキーマップ設定ファイル
// レイヤー構成:
// - Default: 通常のタイピング用
// - Move: カーソル移動・スクロール・マウス入力用
// - Char: 記号や括弧などの入力用
// - num: 数字入力・テンキー配列
// - function: ファンクションキー (F1〜F12)
// - bt: Bluetoothデバイス選択と切替操作

/ {
    combos {
        compatible = "zmk,combos";
        combo-term-ms = <100>;

        // コンボ定義:
        // 特定のキーを同時押ししたときの動作を定義
        // 数字レイヤーをトグル

        numTog {
            bindings = <&tog 3>;
            key-positions = <15 20>;
        };

        // ファンクションレイヤーをトグル

        fnTog {
            bindings = <&tog 4>;
            key-positions = <0 11>;
        };

        // Enterキー入力

        ent {
            bindings = <&kp ENTER>;
            key-positions = <42 44>;
        };

        // Bluetooth設定レイヤーに一時移動

        btSettings {
            bindings = <&mo 6>;
            key-positions = <0 12 24>;
        };

        // すべてのレイヤーを無効化してデフォルトレイヤーに戻す

        charTog {
            bindings = <&to 2>;
            key-positions = <16 19>;
        };

        recess {
            bindings = <&mo 5>;
            key-positions = <1 13 25>;
        };
    };

    behaviors {
        multiMkp: multiMkp {
            compatible = "zmk,behavior-hold-tap";
            label = "MULTIMKP";
            bindings = <&mkp>, <&mkp>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // デフォルトレイヤー: 通常のタイピングに使用

        Default {
            bindings = <
&mt ESC Q     &kp L  &kp U  &kp COMMA  &kp PERIOD     &kp TAB                             &kp SPACE      &kp F  &mt RCTRL W  &mt RALT R  &mt RCMD Y  &mt DELETE P
&mt TAB E     &kp I  &kp A  &kp O      &kp MINUS      &mt HOME LEFT_ARROW                 &mt END RIGHT  &kp K  &kp T        &kp N       &kp S       &kp H
&mt LSHIFT Z  &kp X  &kp C  &kp V      &kp SEMICOLON  &mo 2                               &kp ENTER      &kp G  &kp D        &kp M       &kp J       &mt LSHIFT B
                            &kp RCTRL  &kp RALT       &kp LCMD             &kp LANG1      &kp LANG2
                                       &to 0          &to 1                &kp BACKSPACE  &kp SPACE
            >;
        };

        Move {
            bindings = <
&kp ESCAPE        &kp PAGE_UP  &kp UP_ARROW    &kp PAGE_DOWN  &kp HOME   &kp TAB                         &kp SPACE        &none  &kp RCTRL  &kp RIGHT_ALT  &kp RIGHT_GUI  &kp LSHIFT
&kp TAB           &kp LEFT     &kp DOWN_ARROW  &kp RIGHT      &kp END    &msc SCRL_LEFT                  &msc SCRL_RIGHT  &none  &mkp MB1   &mkp MB2       &mkp MB3       &none
&mt LEFT_SHIFT Z  &kp X        &kp C           &kp V          &kp SPACE  &mkp MB4                        &mkp MB5         &none  &none      &none          &none          &kp RSHIFT
                                               &kp LCTRL      &kp LALT   &kp LCMD        &msc SCRL_UP    &kp RS(TAB)
                                                              &to 0      &to 1           &msc SCRL_DOWN  &kp TAB
            >;
        };

        Char {
            bindings = <
&none       &none     &kp UP_ARROW    &kp EXCLAMATION  &kp QUESTION  &none           &none      &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp MINUS      &kp EQUAL  &kp GRAVE
&none       &kp LEFT  &kp DOWN_ARROW  &kp RIGHT        &none         &none           &none      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp SEMICOLON  &kp SQT    &none
&kp LSHIFT  &none     &none           &none            &none         &none           &kp ENTER  &kp COMMA             &kp PERIOD             &kp BACKSLASH  &kp SLASH  &mt RSHIFT EXCLAMATION
                                      &trans           &trans        &trans  &trans  &trans
                                                       &trans        &trans  &trans  &trans
            >;
        };

        Num {
            bindings = <
&kp ESC     &none           &kp UP_ARROW    &none            &none   &none                   &none           &kp ASTERISK  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp MINUS
&kp TAB     &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &none   &none                   &none           &kp SLASH     &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp PLUS
&kp LSHIFT  &kp LCTRL       &kp LALT        &kp LGUI         &none   &none                   &kp ENTER       &kp NUMBER_0  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp PERIOD
                                            &trans           &trans  &trans  &kp LANGUAGE_1  &kp LANGUAGE_2
                                                             &trans  &trans  &kp BACKSPACE   &kp SPACE
            >;
        };

        Function {
            bindings = <
&kp F1         &kp F2        &kp F3  &kp F4  &kp F5  &kp F6          &kp F7  &kp F8  &kp F9  &kp F10     &kp F11       &kp F12
&kp C_BRI_DEC  &kp C_BRI_UP  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &kp K_MUTE  &kp C_VOL_DN  &kp C_VOLUME_UP
&trans         &trans        &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans      &trans        &trans
                                     &trans  &trans  &trans  &trans  &trans
                                             &trans  &trans  &trans  &trans
            >;
        };

        Recess {
            bindings = <
&none  &none  &none  &none  &none  &kp C_POWER                  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &kp C_AL_SCREENSAVER         &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none                        &none  &none  &none  &none  &none  &none
                     &none  &none  &none                 &none  &none
                            &none  &none                 &none  &none
            >;
        };

        Setting {
            bindings = <
&none  &none  &none  &none  &none  &none         &none  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&none  &none  &none  &none  &none  &none         &none  &none         &none         &none         &none         &none
&none  &none  &none  &none  &none  &none         &none  &none         &none         &none         &bt BT_PRV    &bt BT_NXT
                     &none  &none  &none  &none  &none
                            &none  &none  &none  &none
            >;
        };
    };
};
